<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A book of nonsense</title>
    <style>
      body {
        text-align: center;
        margin-top: 3rem;
        background: rgba(114, 73, 46, 0.424);
      }
      .poem {
        background: rgb(230, 228, 228);
        width: 17rem;
        margin: 1rem auto;
        padding: 2rem;
        border-radius: 1rem;
      }
      img {
        background: rgb(230, 228, 228);
        max-width: 17rem;
        padding: 0.3rem;
        border-radius: 1rem;
      }
      a {
        margin-bottom: 3rem;
      }
    </style>
  </head>
  <body>
    <h1>#{{.Id}}</h1>
    <img
      src="https://github.com/pwhb/a-book-of-nonsense/blob/main/images/{{.Image}}?raw=true"
      alt="{{.Id}}"
    />
    <div class="poem">
      {{range .Lines}}
      <p>{{.}}</p>
      {{end}}
    </div>
    <a href="/">More Nonsense</a>
  </body>
</html>
